body {

	margin: 0;
	padding: 0;

	background: #fff;

}

.postSection {

	margin: 2em auto;
	margin-bottom: 8em;

	padding: 0em 2.5em;

	max-width: 700px;

}

.postTitle {

	font-family: "Open Sans";

	font-size: 2em;

	color: #565E6E;

	border-bottom: 3px solid #60697B;

	text-align: center;

}

.postDate {

	font-family: "Open Sans";

	display: block;

	margin-top: 1em;
	margin-bottom: 1em;

	font-size: .5em;

	color: #60697B;

}

.postBody {

	font-family: "Merriweather";

	font-weight: 300;
	font-size: 1.1em;

	line-height: 1.8em;

	color: #33332D;

}

.postBody p {

	text-indent: 1em;
}

.postBody a {

	color: #33332D;
	text-decoration: none;

	border-bottom: 1px solid #33332D;

}

.postBody a:hover {

	border-bottom-style: dashed;
}

.postImportantText {

	font-family: "Merriweather";

	font-weight: 400;
}

.postCodeExample {

	margin-left: 3em;
	margin-bottom: 2em;

	display: block;

	font-size: .9em;

}

.postCompareFigures {

	text-align: center;

	margin: 3em auto;

}

.postCompareFigures figure {

	display: inline-block;

}

.postFigure {

	display: block;

	text-align: center;

	margin: 3em 0;
	padding: 0;

}

.postImgWithShadow {

	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.4);

}

.postImgLarge {

	width: 80%;
}

.postFigCaption {

	margin-top: 1em;

	font-size: .8em;

	text-align: center;
}


/* Media Queries */

@media all and (min-width: 700px) {

	.postSection {

		margin-top: 4em;
	}

	.postTitle {

		font-size: 3em;

		border-bottom: 5px solid #60697B;

	}

	.postDate {

		margin-top: .8em;
		margin-bottom: 1em;

		font-size: .4em;

	}

}

@media all and (min-width: 1100px) {

	.postSection {

		margin-bottom: 10em;
	}

	.postTitle {

		font-size: 3.5em;

	}

	.postDate {

		font-size: .35em;

	}

	.postBody {

		font-size: 1.2em;

	}

}

@media all and (min-width: 1400px) {

	.postSection {

		max-width: 800px;
	}

	.postTitle {

		font-size: 4em;
	}

	.postBody {

		font-size: 1.3em;
	}

}

@media all and (min-width: 1600px) {

	.postSection {

		max-width: 900px;
	}

}
