body {

	margin: 0;
	padding: 0;

	background: #fff;
}

.postSection {

	margin: 0 auto;
	margin-top: 4em;
	margin-bottom: 6em;

	padding: 0 2.5em;

	max-width: 800px;

	border-left: 6px solid #35E2A4;
}

.postTitle {

	font-family: "Merriweather";

	font-size: 1.9em;

	color: #33332D;
}

.postDate {

	font-family: "Open Sans";

	display: block;

	margin-top: 1em;

	font-size: .5em;

	color: #bbb;

}

.postBody {

	margin-top: 2em;

	font-family: "Merriweather";

	font-weight: 300;
	font-size: 1.1em;

	line-height: 1.8em;

	color: #33332D;

}

.postBody a {

	color: #33332D;
	text-decoration: none;

	border-bottom: 1px dashed #33332D;
}

.postBody a:hover {

	border-bottom-style: solid;
}

.postImportantText {

	font-family: "Merriweather";

	font-weight: 400;
}

.postCodeExample {

	margin-left: 3em;
	margin-bottom: 2em;

	display: block;

	font-size: .9em;

}

.postCompareFigures {

	text-align: center;

	margin: 3em auto;

}

.postCompareFigures figure {

	display: inline-block;

}

.postFigure {

	display: block;

	text-align: center;

	margin: 3em 0;
	padding: 0;

}

.postImgWithShadow {

	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.4);

}

.postImgLarge {

	width: 80%;
}

.postFigCaption {

	margin-top: 1em;

	font-size: .8em;

	text-align: center;
}


/* Media Queries */

@media all and (min-width: 700px) {

	.postSection {

		margin-top: 5em;
		margin-bottom: 10em;

		padding: 0 3em;

		border-left-width: 2px;
	}

	.postTitle {

		font-size: 3em;
	}

	.postDate {

		font-size: .35em;
	}

}

@media all and (min-width: 1200px) {

	.postSection {

		margin-bottom: 10em;

		max-width: 900px;
	}

	.postTitle {

		font-size: 3.1em;
	}

}
