body {

	margin: 0 auto;
	padding: 0;

	color: #33332D;

	max-width: 1300px;

}

#projects {

   margin: 6em auto;
   padding: 0;

   max-width: 800px;
}

.projectSection {

   margin: 6em 0;
   margin-bottom: 8em;
   padding: 0 1em;

   text-align: center;
}

.projectSection:first-child .projectTitle {
   font-size: 3.5em;
}

.projectTitle {

   margin: 0;
   padding: 0;

   font-family: "Open Sans Condensed";

   font-size: 3em;
   font-weight: 300;
   letter-spacing: .1em;
   text-transform: uppercase;

}

.projectTags {

   font-family: "Open Sans";

   margin: 0;
   margin-top: 1.2em;
   padding: 0;

   font-size: .9em;
   font-weight: 300;

   text-transform: uppercase;
   letter-spacing: .1em;

   color: #ccc;

}

.projectDesc {

   margin: 2em auto;
   padding: 0;

   font-family: "Merriweather";
   font-size: .9em;
   font-weight: 300;
   line-height: 1.9em;

   max-width: 300px;

   padding-top: 2em;
   border-top: 1px solid #eee;

}

.projectLink {

   text-decoration: none;

   color: #000;

   font-weight: 700;

   border-bottom: 1px solid #ccc;
   padding-bottom: 2px;

   opacity: .8;

}

.projectLink:hover {

   opacity: 1;
}


footer {

   margin: 2em auto;
   padding: 0;

   text-align: center;

   max-width: 400px;

}

.socialLinks {

   margin: 0;
   padding: 0;

   padding: 1.5em 0;
   border-top: 1px solid #eee;
   border-bottom: 1px solid #eee;

   font-family: "Open Sans";

}

.socialLinks a {

   display: inline-block;

   margin: 0 1em;
   padding: 0;

   text-decoration: none;

   color: rgba(0, 0, 0, .6);

   font-weight: 400;
   font-size: .7em;

   -webkit-transition: color .1s ease-in-out;
   -moz-transition: color .1s ease-in-out;
   -o-transition: color .1s ease-in-out;
   -ms-transition: color .1s ease-in-out;

}

.socialLinks a:hover {

   color: rgba(0, 0, 0, .8);
}



/* Media Queries */

@media all and (min-width: 700px) {

   #projects {

   	margin: 10em auto;
   }

   .projectSection {

      margin: 8em 0;
      margin-bottom: 10em;
      padding: 0;
   }

   .projectSection:first-child .projectTitle {
      font-size: 6em;
   }

   .projectTitle {

      font-size: 5em;
   }

   .projectTags {

      margin-top: 1em;

      font-size: 1em;
   }

   .projectDesc {

      margin: 2.5em auto;
      margin-top: 2em;

      font-size: 1em;

      max-width: 500px;
   }

   footer {

   	margin: 0 auto;
      margin-top: 8em;

   	padding: 2em 0;

      max-width: 500px;
   }

   .socialLinks {

   	margin: 0 auto;
   	padding: 0;

      padding: 2em 0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
   }

   .socialLinks a {

   	margin: 0 1.5em;

   	font-size: .8em;
   }

}
